


@font-face {
    font-family: 'american_captainregular';
    src: url('american-captain-webfont.woff2') format('woff2'),
         url('american-captain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'american_captainregular';
    src: url('american-captain-webfont.woff2') format('woff2'),
         url('american-captain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}