---
import SectionTitle from "../Utils/SectionTitle.astro";
---
<section class="container">
<SectionTitle text="Recharge Esports Arena"/>
<p>Welcome to the 2024 edition of Bangladesh’s largest gaming championship. Recharge Esports Arena is an exhilarating gaming event that captivates the hearts and minds of gamers from across the country. Hosted with the backing of a popular beverage brand, Recharge Esports Arena offers an electrifying platform for gamers to showcase their skills, compete at the highest level, and embrace the spirit of friendly rivalry.
    <br/>    <br/>
    Emerge victorious to compete for a prize pool of BDT 20 lacks and the chance to feature on the Recharge bottle.</p>
</section>