---
import SectionTitle from "../Utils/SectionTitle.astro";
import PartnerCard from "../Cards/PartnerCard.astro"
---
<section class="container">
<SectionTitle text="Partners"/>
<div class="partners-wrapper">
    <PartnerCard
    name="Bkash"
    logo="/assets/PartnerLogos/bkash.png"
    description="bKash is a mobile financial service in Bangladesh that allows users to make various transactions through their phones."
    link="https://www.bkash.com/"
    class="partnerCard"
    />
    <PartnerCard 
    logo="/assets/PartnerLogos/L7.png"
    description="Level 7 Marketing Solutions is a company that provides various services in the field of marketing, advertising, and business development in Bangladesh"
    link="https://www.level7ltd.com/"
    class="partnerCard"
    />
    <PartnerCard 
    logo="/assets/PartnerLogos/zenetic.png"
    description="Zenetic Esports is a 360° Esports Solution focusing to accelerate the Gaming Industry of Bangladesh and put a contribution on the Global Gaming and Esports Industry."
    link="https://zeneticesports.com/"
    class="partnerCard"
    />

</div>
</section>

<style is:global>
    .partners-wrapper {
        margin-inline: auto;
        max-width: 97%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-around;
    }
    .partnerCard{
        flex: 1 1 245px;
    }
</style>
<style>
    .container{
        margin-top: -3.5rem;
    }
</style>