---
const { id, text} = Astro.props;
---


<div class="loading-cont" id={id}>
    <div class="cont">
        <span></span>
        <span></span>
    </div>
</div>

<style >


.loading-cont {
    --background-page: #111020;
    --tran: .3s;
    position: relative;
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13rem;
    user-select: none;
    pointer-events: none;
    opacity: 0;
}
.cont {
    width: 100%;
    height: 100%;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.loading-cont::before {
    content: 'Processing...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    color: var(--clr-accent-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px var(--clr-accent-1),
        0 0 10px var(--clr-accent-1),
        0 0 20px var(--clr-accent-1),
        0 0 30px var(--clr-accent-1),
        0 0 50px var(--clr-accent-1);
    z-index: 111;
    background-color: var(--clr-dark-0);
}
.loading-cont .cont span {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--clr-accent-1);
}
.loading-cont .cont span:first-child {
    top: 0;
    left: 0;
    transform-origin: top left;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.loading-cont .cont span:nth-child(2) {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
}
@keyframes loading {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(.3);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>